
<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="柯p挑戰">
    <meta name="author" content="andretw">

    <title>柯p挑戰</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="./jsTimeWatch.min.js"></script>
    <script src="./main.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="MainCtrl" ng-cloak class="ng-cloak">

    <a href="https://github.com/andretw/kp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">柯p挑戰</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">錯 {{ num_of_wrong }} 次</a></li>
                <li class="active"><a href="#">過 {{ num_of_pass }} 關</a></li>
                <li class="active"><button type="button" class="btn btn-default" ng-click="init()" ng-class="{disabled: !to_next}">下一關</button></li>
              </ul>
            </div>
          </div>

          <div class="inner cover" ng-show="is_loading">
              <img src="./ajax-loader.gif" />
          </div>

          <div class="inner cover" ng-show="!is_loading">
              <div class="myimg" ng-repeat="photo_url in photos track by $index">
                  <span ng-show="show[$index]"><img src="{{photo_url}}"/></span>
                  <span ng-click="guess(photo_url, $index)" ng-show="!show[$index]"><img src="./kp.png"/></span>
              </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><div class="fb-like" data-href="http://lab.andretw.com/kp/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></p>
              <p>by <a href="http://www.andretw.com" target="_blank">andretw</a> 2014</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=398801430177372&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
